.style {
    margin-right: 300px;
    margin-left: 300px;
}

.sar {
    margin: 10px;
}

.pfeil {
    margin: 10px;
}

.next {
    color: rgb(255, 224, 45);
    margin-left: 22%;
    float: left;
    font-size: 60px;
    font-weight: 900;
}

.vorhegend {
    color: rgb(2, 216, 48);
    margin-right: 22%;
    float: right;
    font-size: 60px;
    font-weight: 900;
}
.scrichtig {
  color: green;
}

.scfalsch {
  color: red;
}

