<div class="ui segment style">
    <div class="style1">
        <div style="color: seagreen">
            Die richtige Antworten :{{ richtigentwort }}
        </div>
        <br />
        <div style="color: rgb(139, 46, 46)">
            Die falsche Antworten :{{ 20 - richtigentwort }}
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div style="color: seagreen">{{ bestand }}</div>
        <div style="color: rgb(255, 0, 0)">{{ Nbestand }}</div>
    </div>
    <div class="ui vertical rectangle test ad" data-text="Multiple-Choice Voll-Prüfung Ergibns"></div>
</div>