<br />
<br />
<br />
<br />
<div class="ui center aligned basic segment">
    <div style="margin: 10px" class="One massive ui inverted primary buttons">
        <div class="item" class="massive ui inverted">
            <button class="ui inverted primary button" (click)="goTolernmodus()">
        Lernmodus
      </button>
        </div>
    </div>
    <div style="margin: 10px" class="One massive ui inverted primary buttons">
        <div class="item" class="massive ui inverted">
            <button class="ui inverted primary button" (click)="goToprufmodus()">
        Prüfmodus
      </button>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />