<div class="ui message" style="margin: 10px">
    <div style="text-align: center">
        <p style="font-size: 24px">
            Willkommen bei Singel-Choice-Fragen Prüfmodus Voll-Prüfung !!
        </p>
        <p style="font-size: 18px; color: tomato">Hinweis:</p>
        <p style="font-size: 14px; color: tomato">
            der richtigen Antworten werden mit Grun makiert <br /> und die falesche mit Rot makiert un dazu bekomen Sie eine Feedback! <br />
        </p>
        <p class="pr" style="font-size: 14px; color: red">
            Wichtig: Am Ende Müssen Sie Auf Prüfung Beende klicken <br /> Sie haben 60 Minuten, nachdem Sie Start klicken!
        </p>
    </div>
    <br />
    <br />
</div>
<div class="ui center aligned segment" style="margin: 10px">
    <a class="massive ui center inverted green button" (click)="gotoMCFFrage()">
    START <i class="arrow right icon"></i
  ></a>
</div>