<div class="ui segment style">
    <p style="text-align: center">Fill in Fragen Prüfmodus Teill-Prüfung!!</p>
    <div style="text-align: left; font-weight: bold" class="ui message">
        FrageNr:{{ fifrage.fifnr }}
        <br />
        <br />
        <p style="text-align: center; font-size: 18px">{{ fifrage.fifstext }}</p>

        <div class="ui clearing divider"></div>
        <div class="ui message">
            <div *ngIf="!keyinput">
                <div class="feld">
                    <input type="text" #meininput (keyup.enter)="checkInput(meininput.value); meininput.value = ''" />
                </div>
            </div>
            <div *ngIf="keyinput">
                <div class="feld">
                    <input type="text" #meininput (keyup.enter)="checkInput(meininput.value); meininput.value = ''" />
                </div>
            </div>

            <br />
            <!-- <div *ngIf="keyinput">
                <div *ngIf="richtigantwort" class="firichtig" style="text-align: center">
                    Das Antwort ist richtig!
                </div>

                <div *ngIf="!richtigantwort" class="fifalse" style="text-align: center">
                    Das Antwort ist nicht richtig!
                </div>
            </div> -->
            <div *ngIf="antwortenzeigen" class="firichtig">
                <div *ngFor="let c of fifrage.fifantworten" style="text-align: center">
                    {{ c.antworttext }}
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="next pfeil">
    <i class="arrow left icon" (click)="vorhegendeFrage()"><p style="font-size: 18px; margin: 15px">Vorhegende</p></i
  >
</div>

<div class="vorhegend pfeil">
  <i class="arrow right icon" (click)="naechteFrage()"
    ><p class="arrow right icon" style="font-size: 18px; margin: 15px">
      Nächste
    </p>
  </i>
</div>
<br />
<div class="ui center aligned basic segment">
    <button class="ui teal button" (click)="zurucksetzen()">Leeren</button>

    <!-- <button class="ui blue button" (click)="antwortAnzeigen()">
    Antwörten zeigen
  </button> -->
    <div style="margin: 10px" class="One massive ui inverted red buttons">
        <div class="item" class="massive ui inverted">
            <button class="ui inverted red button" (click)="goToergibns()">
        Prüfung beenden
      </button>
        </div>
    </div>
    <!-- <button class="ui red button">Falsch</button>
    <button class="ui green button">Richtig</button> -->
</div>
