<!-- <p style="text-align: center; font-size: 24px">Fragen Liste!!</p>
<div class="ui segment style">
    <p style="text-align: center" class="ui message">Frage Stellung</p>
    <div class="ui clearing divider"></div>

    <div class="ui message">
        <div class="ui checkbox mar">
            <input type="checkbox" name="example" />
            <label> <div style="text-align: center">Antwort 1</div></label>
        </div>
        <br />
        <div class="ui checkbox mar">
            <input type="checkbox" name="example" />
            <label> <div style="text-align: center">Antwort 2</div></label>
        </div>
        <br />
        <div class="ui checkbox mar">
            <input type="checkbox" name="example" />
            <label> <div style="text-align: center">Antwort 3</div></label>
        </div>
        <br />
        <div class="ui checkbox mar">
            <input type="checkbox" name="example" />
            <label> <div style="text-align: center">Antwort 4</div></label>
        </div>
        <br />
        <div class="ui checkbox mar">
            <input type="checkbox" name="example" />
            <label> <div style="text-align: center">Antwort 5</div></label>
        </div>
    </div>
</div>
<div class="ui center aligned basic segment">
    <button class="ui red button">Falsch</button>
    <button class="ui green button">Richtig</button>
</div>
<div class="ui clearing divider"></div>
<div class="ui segment style">
    <p style="text-align: center" class="ui message">Frage Stellung</p>
    <div class="ui clearing divider"></div>

    <div class="ui message">
        <div class="ui checkbox mar">
            <input type="checkbox" name="example" />
            <label> <div style="text-align: center">Antwort 1</div></label>
        </div>
        <br />
        <div class="ui checkbox mar">
            <input type="checkbox" name="example" />
            <label> <div style="text-align: center">Antwort 2</div></label>
        </div>
        <br />
        <div class="ui checkbox mar">
            <input type="checkbox" name="example" />
            <label> <div style="text-align: center">Antwort 3</div></label>
        </div>
        <br />
        <div class="ui checkbox mar">
            <input type="checkbox" name="example" />
            <label> <div style="text-align: center">Antwort 4</div></label>
        </div>
        <br />
        <div class="ui checkbox mar">
            <input type="checkbox" name="example" />
            <label> <div style="text-align: center">Antwort 5</div></label>
        </div>
    </div>
</div>
<div class="ui center aligned basic segment">
    <button class="ui red button">Falsch</button>
    <button class="ui green button">Richtig</button>
</div> -->

<div class="ui message" style="margin: 10px">
    <div style="text-align: center">
        <div>
            <img src="favicon.ico" width="200px" />
            <!-- <p class="pr">Prüfung Reglung:</p>

            <p class="pr">je Fragentyp ca. 20 Fragen</p> -->
            <p class="pr">Fragen Liste!!</p>
        </div>

        <div class="ui section divider deviderSmall"></div>
        <div class="ui center aligned basic segment">
            <span class="wahl">1- Multiple-Choice-Fragen</span>
            <button class="massive ui inverted green button" (click)="goToMCFrage()">
        <i class="arrow right icon"></i>
        Wählen
      </button>

            <br />
            <br />
            <span class="wahl">2- Single-Choice-Fragen</span>
            <button class="massive ui inverted green button" (click)="goToSFrage()">
        <i class="arrow right icon"></i>
        Wählen
      </button>

            <br />
            <br />
            <span class="wahl">3- Fill-In-Fragen </span>
            <button class="massive ui inverted green button" (click)="goToFIFrage()">
        <i class="arrow right icon"></i>
        Wählen
      </button>
        </div>
    </div>
</div>
